<ion-view  view-title='登录' >

  <ion-content  class="has-header">
    <form>
        <!-- 顶部logo  -->
        <div class="list" style="padding-left: 50%; padding-top: 60px; margin-bottom: 7px;">
            <img src="img/user/index_logo.png" width="80" height="80" style="margin-left: -40px;">
        </div>
        <p class="text-center" style="font-size: 18px;color: #282828;">MyApp</p>

        <div class="list list-inset" style="margin-left: 10%;margin-top:15px;margin-bottom: 0;width: 80%;">
            <div class="item item-input">
                <input type="text" placeholder="请输入用户名" ng-model="client.username">
            </div>
        </div>
        <div class="list list-inset" style="margin-left: 10%;margin-top:15px;margin-bottom: 35px;width: 80%;">
            <div class="item item-input">
                <input type="password" placeholder="请输入密码" ng-model="client.password">
            </div>
        </div>

        <button class="button button-positive" style="width: 80%;margin-left: 10%;" ng-click="doLogin()">
            登录
        </button>
    </form>
  </ion-content>
</ion-view>
