<ion-view hide-nav-bar="false" view-title='积分首页' >
    <ion-content lazy-scroll class="has-footer">
        <ion-refresher pulling-text="松开刷新" on-refresh="doRefresh()"></ion-refresher>
            <div class="card" ng-repeat="data in orderList">
                <!--<div class="item item-divider">-->
                    <!--订单号：12381823818238-->
                <!--</div>-->
                <div class="item item-divider" ng-click="showOrder(order)">
                    <h2>订单号:123192391231</h2>
                    <p>2017-02-10 08:11:22</p>
                </div>
                <div class="list" style="margin-bottom: 0;">

                    <div class="item">
                        <span>某某商品某商品</span>
                        <span class="item-note">x 2 <span style="color: red;">¥304.00</span></span><br/>
                        <span class="item-note" style="float: left;">鬼鬼鬼鬼鬼鬼规格规格</span>
                    </div>

                    <div class="item">
                        <span>某某商品某商品</span>
                        <span class="item-note">x 2 <span style="color: red;">¥304.00</span></span><br/>
                        <span class="item-note" style="float: left;">鬼鬼鬼鬼鬼鬼规格规格</span>
                    </div>

                </div>
                <div class="item ">
                    <h2 style="float: left;font-size: 18px;line-height: 44px;">总额: <span class="assertive">¥10000</span></h2>
                    <!--<p>共10件商品</p>-->
                    <div class="order-button" style="float: right;">
                        <button class="button button-dark " ng-click="cancelOrder(order)">取消订单</button>
                        <button class="button button-assertive " ng-click="payNow(order)">立即付款</button>
                    </div>
                </div>
            </div>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="doLoadMore();"></ion-infinite-scroll>

    </ion-content>

    <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref='goods_index'>
            <i class="icon ion-home"></i>
            首页
        </a>
        <a class="tab-item" ui-sref='goods_cart'>

            <i class="icon ion-ios-cart"></i>
            购物车(<em style="color: red;">{{shoppingCart.totalNumber}}</em>)
        </a>
        <a class="tab-item" ui-sref='user_index'>
            <i class="icon ion-person"></i>
            个人中心
        </a>
    </div>
</ion-view>
