<ion-view id="order_submit" hide-nav-bar="true" view-title="提交订单">
    <ion-content style="background: #EFF0F2;">
        <div class="content">
            <ion-list>
                <ion-item style="padding:0;">
                    <div class="list card " style="padding:0;margin:0;background-color:#EFF0F2;">
                        <div class="item " style="padding-top:5px;padding-bottom:5px;margin-top:5px;">
                            <h3>订购地址</h3>
                        </div>
                        <div class="item " >
                            <span style="float:right;color:red;">18812341234</span>
                            <h2>订购人:xxxx</h2>
                            <p style="overflow: auto;white-space:normal;">
                                地址地址</p>
                        </div>
                        <div class="item " style="padding-top:5px;padding-bottom:5px;margin-top:5px;">
                            <h3>订单明细</h3>
                        </div>
                        <div ng-repeat="item in cartToOrder">
                            <div class="item item-thumbnail-left" style="margin-top:5px;">
                                <img ng-click="showGoodsDetail(item)" image-lazy-src="{{item.image}}" image-lazy-loader="ios">
                                <div>
                                    <br/>
                                    <h2>商品名称</h2>
                                    <h2>x2</h2><span style="float:right;color:red;font-size:18px;margin-top:-10px;"><span
                                        style="font-size:14px;">¥ </span>100</span>

                                </div>
                            </div>
                        </div>
                        <div class="item " style="padding-top:5px;padding-bottom:5px;margin-top:5px;">
                            <h3>选择付款方式</h3>
                        </div>
                        <div class="item button-bar" style="padding:20px;">
                            <a
                                    style="line-height: 33px;font-size: 14px;" ng-click="payWaySelect(1)"
                                    ng-class="{1: 'button button-small button-positive col-33', 2 : 'button button-small button-positive button-outline col-33'}[payWay]">微信支付</a>
                            <a
                                    style="line-height: 33px;font-size: 14px;" ng-click="payWaySelect(2)"
                                    ng-class="{2: 'button button-small button-positive col-33', 1 : 'button button-small button-positive button-outline col-33'}[payWay]">货到付款</a>

                        </div>
                        <div class="item " style="padding-top:5px;padding-bottom:5px;margin-top:5px;">
                            <h3>订单合计</h3>
                        </div>
                        <div class="item">
                            <h2>商品:<span style="float:right;" class="assertive">¥200</span></h2>
                            <!--<h2>运费:<span style="float:right;" class="assertive">$10</span></h2>-->
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>

    <div ng-show="order.status != 'CANCEL'" class="bar bar-footer has-tab-bar-footer">
        <div class="bottom-buttons" style="width:100%;">
            <div class="button-bar">
                <a class="button button-assertive" ng-click="orderSubmit(receive, cartToOrder)">提交订单</a>
            </div>
        </div>
    </div>

</ion-view>
