<ion-view   >
    <ion-content lazy-scroll>
        <div class="bar bar-header item-input-inset" >
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="search.searchName" placeholder="请输入搜索内容">
            </label>
            <button class="button button-small" ng-click="searchByName()">
                搜索
            </button>
        </div>
        <div class="list">

            <div class="button-bar" style="width:100%;text-align: center;" >
                <span  class="sort button-small sort_select" ng-click="sort($event)" style="width:33.33%;" data-name="hot" data-type="desc">
                    人气排行
                    <i id="sort-hot" class="ion-arrow-down-a"  ></i>
                </span>
                <span  class="sort button-small" ng-click="sort($event)" style="width:33.33%;" data-name="sale" data-type="asc">
                    销量
                    <i id="sort-sale" class="ion-arrow-up-a"></i>
                </span>
                <span  class="sort button-small" ng-click="sort($event)" style="width:33.33%;" data-name="price" data-type="asc">
                    价格
                    <i id="sort-price" class="ion-arrow-up-a"></i>
                </span>
            </div>



            <div class="item item-icon-left item-icon-right" style="padding-left:16px;" >
                <span ng-click="detail(1)">肉肉花盆陶瓷特价多肉花盆大小多肉植物花盆创意复古中国风粗陶罐</span>
                <a href="javascript:void(0)" ng-click="addCart({goodId:1,name:'肉植物1',price:1})"><i class="icon ion-ios-cart-outline" style="right:16px;"></i></a>
            </div>

            <div class="item item-icon-left item-icon-right" style="padding-left:16px;" >
                <span ng-click="detail(2)">肉肉花盆陶瓷特价多肉花盆大小多肉植物花盆创意复古中国风粗陶罐</span>
                <a href="javascript:void(0)"  ng-click="addCart({goodId:2,name:'肉植物2',price:2})"><i class="icon ion-ios-cart-outline" style="right:16px;"></i></a>
            </div>

            <div class="item item-icon-left item-icon-right" style="padding-left:16px;" >
                <span ng-click="detail(3)">肉肉花盆陶瓷特价多肉花盆大小多肉植物花盆创意复古中国风粗陶罐</span>
                <a href="javascript:void(0)"  ng-click="addCart({goodId:3,name:'肉植物3',price:3})"><i class="icon ion-ios-cart-outline" style="right:16px;"></i></a>
            </div>

        </div>
    </ion-content>

    <style>
        .sort_select{
            position: relative;
            color: #387ef5;
        }
    </style>

    <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref='goods_index'>
            <i class="icon ion-home"></i>
            首页
        </a>
        <a class="tab-item" ui-sref='goods_cart'>

            <i class="icon ion-ios-cart"></i>
            购物车(<em style="color: red;">{{shoppingCart.totalNumber}}</em>)
        </a>
        <a class="tab-item" ui-sref='user_index'>
            <i class="icon ion-person"></i>
            个人中心
        </a>
    </div>

</ion-view>



